.sample_ads
  Job Ads
  =@feed.channel.title
  .jobs(style='border:solid')
  - @feed.items.each_with_index do |item,i|
    .job
    %a#title(href = "#{item.link}")
      =item.title
    .description=item.description[0..140]
